<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Flag:</b>
  <%=h @category.flag %>
</p>

<p>
  <b>Description:</b>
  <%=h @category.description %>
</p>

<p>
  <b>Private:</b>
  <%=h @category.private %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
