<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Messages: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold','base' %>
</head>
<body>

<div id="main">

  <div id="head">
    <h1>messanger</h1>
  </div> <!-- end id="head" -->
  
  <div id="alerts">
    <% if flash[:notice] %>
      <p style="color: green"><%= flash[:notice] %></p>
    <% end %>
  </div> <!-- end id="alerts" -->
  
  <div id="new_message">
    <div id="new_message">
      <% form_for @message do |f| %>
        <%= f.text_area :content, :class => 'new_message' %>
        <%= f.submit 'create' %>
      <% end %>
    </div>
  </div> <!-- end id="new_message" -->
  
  <div id="recent_messages">
    <%= yield  %>
  </div> <!-- end id="recent_messages" -->
  
  <div id="foot">
    
  </div> <!-- end id="foot" -->
  
</div> <!-- end id="main" -->


</body>
</html>
